<div style="padding: 20px 0 20px 0;">
	Home→<%= link_to 'Home', root_path %>
</div>

<h1>ページ一覧</h1>

<div style="padding: 100px 0 100px 0;">
<%= link_to 'Progate/HTML&CSS初級編', htmlcss_first_path %>

<%= link_to 'Progate/Java コース1', java_path %>
<%= link_to 'Progate/Java コース2', java_part2_path %>
<%= link_to 'Progate/Java コース3', java_part3_path %>
<%= link_to 'Progate/Java コース4', java_part4_path %>
<%= link_to 'Progate/Java道場コース2', java_advance_part2_path %><br>
<%= link_to 'Progate/Java コース5', java_part5_path %>
<%= link_to 'Progate/Rubyコース1', ruby_path %>
<%= link_to 'Progate/Rubyコース2', ruby_part2_path %>
<%= link_to 'Progate/Rubyコース3', ruby_part3_path %>
<%= link_to 'Progate/Rubyコース4', ruby_part4_path %>
<%= link_to 'Progate/Rubyコース5', ruby_part5_path %><br>
<%= link_to 'Paiza/C#コース1', CSharp_path %>
</div>