<div style="padding: 20px 0 20px 0;">
	Home→<%= link_to 'Home', root_path %>
	<%= link_to 'Progate/HTML&CSS初級編', htmlcss_first_path %>
	first→<%= link_to 'Progate/Rubyコース1', ruby_path %>
	prev→<%= link_to 'Progate/Rubyコース2', ruby_part2_path %>
</div>

<h1>Ruby　コース3</h1>


<div style="padding: 100px 0 100px 0;">
	メソッドを学ぼう
	このレッスンでは、プログラミングにおいて必須の知識である「メソッド」について学んでいきます。
	新しく覚えることも多いですが、焦らず少しずつ理解していきましょう！
	<br><%= image_tag '/assets/ruby配列とは1.png' %><%= image_tag '/assets/ruby配列とは2.png' %><br>
</div>

<div style="padding: 100px 0 100px 0;">
</div>

<div style="padding: 100px 0 100px 0;">
</div>

<div style="padding: 100px 0 100px 0;">
</div>

<div style="padding: 100px 0 100px 0;">
</div>

<div style="padding: 100px 0 100px 0;">
</div>

<div style="padding: 100px 0 100px 0;">
</div>

<div style="padding: 100px 0 100px 0;">
</div>

<div style="padding: 100px 0 100px 0;">
</div>

<div style="padding: 100px 0 100px 0;">
</div>

<div style="padding: 100px 0 100px 0;">
</div>

<div style="padding: 100px 0 100px 0;">
</div>

<div style="padding: 100px 0 100px 0;">
</div>

<div style="padding: 100px 0 100px 0;">
</div>

<div style="padding: 100px 0 100px 0;">
</div>

<div style="padding: 100px 0 100px 0;">
</div>

<div style="padding: 100px 0 100px 0;">
</div>

<div style="padding: 100px 0 100px 0;">
</div>




<div style="padding: 100px 0 100px 0;">
next→<%= link_to 'Ruby_part4', ruby_part4_path %><br>
Home→<%= link_to 'Home', root_path %>
</div>