<div style="padding: 20px 0 20px 0;">
	Home→<%= link_to 'Home', root_path %>
	first→<%= link_to 'Paiza/C#コース1', csharp_path %>
	prev→<%= link_to 'Paiza/C#コース4', csharp_part4_path %>
</div>

<h1>Paiza C#コース5　C#入門編5: 多次元配列を理解しよう</h1>


<div style="padding: 100px 0 100px 0;">
	<video src="assets/videos/2次元配列の概要.mp4" controls preload muted></video><br>
	＃01:2次元配列の概要
	2つのインデックスで要素を指定する2次元配列について、基本的な考え方を学習しましょう。2次元配列を使うと、複雑なデータを操作できるようになります。
	①2次元配列とは
	2次元配列とは、2つのインデックスで要素を指定する配列のこと。
	例えば、
	arr[3][4] = 100;
	とすると、インデックス 3, 4 に対応する要素に、100を代入できる。
	②多次元配列の用途
	- RPGのマップ
	- 写真・イラストなどのイメージ
	- 3D-CGの空間座標
	- ゲームの盤面
	- 表形式データ
	など
	③ 参考になるWebページ
	配列 - C# によるプログラミング入門 | ++C++; // 未確認飛行 C
	https://ufcpp.net/study/csharp/st_array.html
	配列 (C# プログラミング ガイド) - Microsoft Docs
	https://docs.microsoft.com/ja-jp/dotnet/csharp/programming-guide/arrays/index

	
</div>

<div style="padding: 100px 0 100px 0;">
	<video src="assets/videos/コメントでプログラムを見やすく！.mp4" controls preload muted></video><br>
</div>

<div style="padding: 100px 0 100px 0;">
	<video src="assets/videos/コメントでプログラムを見やすく！.mp4" controls preload muted></video><br>
</div>

<div style="padding: 100px 0 100px 0;">
	<video src="assets/videos/コメントでプログラムを見やすく！.mp4" controls preload muted></video><br>
</div>

<div style="padding: 100px 0 100px 0;">
	<video src="assets/videos/コメントでプログラムを見やすく！.mp4" controls preload muted></video><br>
</div>

<div style="padding: 100px 0 100px 0;">
	<video src="assets/videos/コメントでプログラムを見やすく！.mp4" controls preload muted></video><br>
</div>

<div style="padding: 100px 0 100px 0;">
	<video src="assets/videos/コメントでプログラムを見やすく！.mp4" controls preload muted></video><br>
</div>

<div style="padding: 100px 0 100px 0;">
	<video src="assets/videos/コメントでプログラムを見やすく！.mp4" controls preload muted></video><br>
</div>

<div style="padding: 100px 0 100px 0;">
	<video src="assets/videos/コメントでプログラムを見やすく！.mp4" controls preload muted></video><br>
</div>

<div style="padding: 100px 0 100px 0;">
	<video src="assets/videos/コメントでプログラムを見やすく！.mp4" controls preload muted></video><br>
</div>

<div style="padding: 100px 0 100px 0;">
	<video src="assets/videos/コメントでプログラムを見やすく！.mp4" controls preload muted></video><br>
</div>

<div style="padding: 100px 0 100px 0;">
	<video src="assets/videos/コメントでプログラムを見やすく！.mp4" controls preload muted></video><br>
</div>


<div style="padding: 100px 0 100px 0;">
next→<%= link_to 'Paiza/C#コース6', csharp_part6_path %><br>
Home→<%= link_to 'Home', root_path %>
</div>